body
{
	background: url(images/bg.jpg);
}
#main{
	margin: 70px 90px 0 70px;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*border: 1px dotted black;*/
	background-color: lavenderblush;
	padding: 10px 0  10px 0;
}
.img_left{
		    padding-left: 90px;
		    padding-top: 15px;
}
.container{
	width: 100%;
	height: 100%;
}

.leftcol{
	display: inline-block;
	width: 30%;
	background-color: lavenderblush;
}
.rightcol{
	display: inline-block;
	float: right;
	width: 68%;
	background-color: lavenderblush;

}
.skill{
	padding: 0 12px 0 12px;
}
.bg_bar{
	 width: 100%;
    background-color: #ddd; 
}
.skills {
    text-align: right;
    line-height: 20px;
    color: white;
}

.candc {
	width: 98%; 
	background-color: #4CAF50; /* Green */
	}
.html {
	width: 100%; 
	background-color: lightgreen; /* Green */
	}
.aps {
	width: 95%; 
	background-color: #2196F3; /* Green */
	}
.ai {
	width: 92%; 
	background-color: #f44336; /* Green */
	}
.asp {
	width: 90%; 
	background-color: #808080; /* Green */
	}
.langs{
	padding: 0 12px 0 12px;
}
.lang {
    text-align: right;
    line-height: 24px;
    color: white;
}

.pb {
	width: 100%; 
	background-color: #4CAF50;
	}
.eng {
	width: 100%; 
	background-color: lightgreen;
	}
.hindi {
	width: 95%; 
	background-color: #2196F3; 
	}
.french {
	width: 75%; 
	background-color: #808080; 
	}
.work{
	padding: 0 15px 0 15px;
}
.education{
	padding: 0 15px 0 15px;
}